<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>上海市文娱设施与信息系统</title>
<link rel="stylesheet" type="text/css" href="../static/content/cover.css" />
<script type="text/javascript" src="/static/scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../static/scripts/cover.js"></script>

</head>

<body>
<div class='main'>
<div class='background'>

<div class='button-box'>

<div class='button' id='enter'>
    <a class='button' href='./index'>立即体验</a>
</div>



</div>






</div>
</div>
</body>
</html>
