<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>上海市文娱设施与信息系统</title>
<link rel="stylesheet" type="text/css" href="../static/content/main-home.css" />
<script type="text/javascript" src="../static/scripts/main-home.js"></script>
<script src="https://webapi.amap.com/maps?v=1.4.15&key=9a7aa3288f5699522d65125c06b2ff0b"></script>
<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
<script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/macarons.js"></script>
</head>

<body onLoad="onLoad()">
<div class='main'>

<div class="banner">
    <a href='./index' class="banner">上海市文娱设施与信息系统·总体概览</a>
</div>

<div id="map">
<div class="cover-background">
	<div id='chart1'>
	</div>
	<div id='chart2'>
	</div>
	<div id='chart3'>
		<div id='chart3Left'></div>
		<div id='chart3Right'></div>
	</div>
	<div id='chart4'>
		<div id='chart4Left'></div>
		<div id='chart4Right'></div>
	</div>
	<div id='chart5'>
	</div>
</div>
</div>


</div>
</body>
</html>
