<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>上海市文娱设施与信息系统</title>
<link rel="stylesheet" type="text/css" href="../static/content/main.css" />
<script type="text/javascript" src="../static/scripts/main.js"></script>
<script src="https://webapi.amap.com/maps?v=1.4.15&key=9a7aa3288f5699522d65125c06b2ff0b"></script>
<script type="text/javascript" src="/static/scripts/jquery-1.10.2.min.js"></script>
</head>

<body onLoad="onLoad()">
<div class='main'>


<div class="banner">
    <a href='./index' class="banner">上海市文娱设施与信息系统</a>
</div>

<div id="map">
<div class='cover-background'>

<table>
	<tr>
		<td>
			<div class="cover-content">
				<a href="./home" class="cover-content-1">总体概览</a>
			</div>
		</td>
		<td>
			<div class="cover-content">
				<a href="./recommend" class="cover-content-2">智能推荐</a>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="cover-content">
				<a href="https://storymaps.arcgis.com/stories/2d5d246cb73a4b0e9c10236cc247e84a" class="cover-content-3">历史发展</a>
			</div>
		</td>
		<td>
			<div class="cover-content" id="InformationService">
				<a href="#" class="cover-content-4">信息查询</a>
			
			<div class="cover-subcontent" id="InfoSer1" style="display:none;">
				<a href="./cinema" class="cover-subcontent-4-1">电影院</a>
			</div>

			<div class="cover-subcontent" id="InfoSer2" style="display:none; padding:12px 120px 12px 140px;">
				<a href="./ktv" class="cover-subcontent-4-2">KTV</a>
			</div>

			<div class="cover-subcontent" id="InfoSer3" style="display:none;">
				<a href="./exhibition" class="cover-subcontent-4-3">展览馆</a>
			</div>
			
			</div>
		</td>
	</tr>
</table>





</div>
</div>


</div>
</body>
</html>
